@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

button{
  padding: 20px;
  border-radius: 20%;
  margin: 10px;
}

.b1{
    border: none;
    padding: 5px 10px;
    margin: 0px 140px 0px 140px;
    border-radius: 5px;
    font-size: 20px;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 120px;
    color: white;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

.yellow{
  color:black ;
  background-color: yellow;
}

.reset{
  background-color: grey;
}

.actionButtons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 29%;
}

.mainContainer{
  display: flex;
}

.container{
  display: flex;
    flex-direction: row;
    border: 1px solid #f6f5f5;
    border-radius: 5px;
    width: 71%;
    min-height: 500px;
    flex-wrap: wrap;
    padding: 20px;
    align-content: baseline;
}